body{
    font-family:Quicksand;
}
.side_panel_container{
    width: 20%;
    box-shadow: 4px 0px 5px #BDBDBD;
    height: 670px;
    position: fixed;
}
ul{
    list-style: none;
    padding: 0px;
}
li{
    list-style: none;
}
.side_panel_body{
    margin: 0px;
}
.side_panel_container{
    margin: 0px;
    background-color: #171414;
    padding: 2px;
}
.side_panel_profile{
    height: 40%;
    text-align: center;
    color: white;
    
}
.profile_edit{
    font-size: 10px;
    margin-left: 10px;
    text-align: right;
    cursor: pointer;
   
    
}
.profile_pic{

    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    border: 3px solid #64DD17;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);  
    
}
.img{
    border-radius: 50%;
}

.profile_name{
    font-size: 25px;
    
}
.profile_role{
    font-size: 15px;
}
.hr_style {
    height: 12px;
    border: 0;
    box-shadow: 0px 1px 0px #64DD17;
}
.side_panel_icon{
    margin-right: 40px;
}
.tabs{
    margin-top: 10px;
}
.tab{
  background:black;
  color:#fff;
  border:none;
  position:relative;
  width: 93%;
  left: 0px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
    margin-bottom: 2px;
    text-align:left;
   padding: 10px;
    
}


.tab:before,.tab:after{
  content:'';
  position:absolute;
  bottom:0;
  right:0;
  height:2px;
  width:0;
  background: #64DD17;
  transition:400ms ease all;
}

.tab:hover:before,.tab:hover:after{
  width:100%;
  transition:800ms ease all;
}

.unclicked{
    color:white;
    border-bottom:none;
}
.tabs li.clicked{
    
    border-bottom: 3px solid #64DD17;
    box-shadow: 0px 1px 0px black;
}
.tab:active{
    color:#64DD17;
    border-bottom: 3px solid #64DD17;
}

