@import url('https://fonts.googleapis.com/css?family=Quicksand');

a{
    text-decoration: none;
}
.box_for_animation{
    width: 20%;
    height: 100%;
    position: relative;   
    
    margin-right: 5px;
}
.only_for_border{
    width: 100%;
    height: 100%;
    background-color: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin-right: 15px;
    border-radius: 5px;
      /* Standard syntax*/
    animation-duration: 3s;
    animation-name: slidein;
}
.notification_container{
    width: 100%;
    height: 120px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.card{
    font-family: Quicksand;
    width: 100%;
    height: 80%;
    border-radius: 0px;
    padding: 5px;
    
}
/* @-webkit-keyframes slidein {
    from {
        margin-left: 82%;
        
    }

    to {
        margin-left: 0%;
        
    }
} */

@keyframes slidein {
    from {
        position: absolute;
        left: 1000%;   
    }
    to {
        left: 0%;
        position: relative;
    }
}
.transaction_id_container{
    width: 100%;
    
}
.fa-bell{
    font-size: 30px;
    color: purple;
    -webkit-animation: shake;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 0s;
  }
  @-webkit-keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

