<ul class="nav nav-tabs">
  <li class="pointer nav-item">
    <a class="nav-link active border-dark" [ngClass] = "{'active bg-dark text-white': hideOrders === false}" (click) = "onTabSelect(2)">ORDER</a>
  </li>
  <li class="pointer nav-item" (click) = "onTabSelect($event)">
    <a class="nav-link border-dark" [ngClass] = "{'active bg-dark text-white': hideSales === false}" (click) = "onTabSelect(1); backGroud=!backGroud">SALE</a>
  </li>
</ul>
<div class="manage_template">
	<div id="order_template_container" [ngClass] = "{hide_orders: hideOrders === true}">
		<app-place-order></app-place-order>
	</div>
	<div id="sales_template_container" [ngClass] = "{hide_sales: hideSales === true}">
		<app-place-delivery></app-place-delivery>
	</div>
</div>