<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" [ngClass] = "{active: hideOrders === false}" (click) = "onTabSelect($event)">ORDER</a>
  </li>
  <li class="nav-item" (click) = "onTabSelect($event)">
    <a class="nav-link" [ngClass] = "{active: hideSales === false}">SALE</a>
  </li>
</ul>
<div class="manage_template">
	<div id="order_template_container" [ngClass] = "{hide_orders: hideOrders === true}">
		<app-orders></app-orders>
	</div>
	<div id="sales_template_container" [ngClass] = "{hide_sales: hideSales === true}">
		<app-sales></app-sales>
	</div>
</div>




