<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<img src="{{ product.productImageUrl }}" id="product-img" class="card">
		</div>
		<div class="col-md-9">
			<div class="row product-data-row">
				<div class="col-md-6">
					<h5><strong>Name </strong></h5>
				</div>
				<div class="col-md-6">
					<h5>{{ product.productName }}</h5>
				</div>
			</div>
			<div class="row product-data-row">
				<div class="col-md-6">
					<h5><strong>ID </strong></h5>
				</div>
				<div class="col-md-6">
					<h5>{{ product.productId }}</h5>
				</div>
			</div>
			<div class="row product-data-row">
				<div class="col-md-6">
					<h5><strong>Price </strong></h5>
				</div>
				<div class="col-md-6">
					<h5>{{ product.productPrice }}</h5>
				</div>
			</div>
			<div class="row product-data-row">
				<div class="col-md-6">
					<h5><strong>Manufacturer </strong></h5>
				</div>
				<div class="col-md-6">
					<h5>{{ product.productManufacturer }}</h5>
				</div>
			</div>
			<div class="row product-data-row">
				<div class="col-md-6">
					<h5><strong>Distributors </strong></h5>
				</div>
				<div class="col-md-6">
					<h5>{{ product.productDistributors }}</h5>
				</div>
			</div>
			<div class="row product-data-row">
				<div class="col-md-6">
					<h5><strong>Wholesaler </strong></h5>
				</div>
				<div class="col-md-6">
					<h5>{{ product.productWholesalers }}</h5>
				</div>
			</div>
			<div class="row product-data-row">
				<div class="col-md-6">
					<h5><strong>Retailers </strong></h5>
				</div>
				<div class="col-md-6">
					<h5>{{ product.productRetailers }}</h5>
				</div>
			</div>
		</div>
	</div>
</div>