@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  font-family: 'Quicksand' !important;
}

.row-charts {
	padding: 2px 0;
	margin: 0;
}

.box-for-chart {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.month-div {
	margin: 5px 20px;
	padding: 5px 15px;
	font-size: 35pt;
	text-align: center;
	font-weight: 700;
}

.chart-header {
	background-color: rgba(50, 50, 50, 0.95);
	color: #fff; 
	padding: 5px;
	vertical-align: middle;
}

.chart-header > h5 {
	margin: 5px;
	vertical-align: middle;
}

/*.card-header {
	color: #000;
	background-color: rgba(240, 240, 240, 1);
	border-color: #fff;
	font-weight: 600;
	font-size: 20pt;
	box-shadow: none;
	padding: 2px 15px;
}*/

.card {
	/*border: none !important;*/
	min-height: 400px;
}

.carousel-container {
	margin: 0 !important;
	padding: 0 !important;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(250, 250, 250) !important;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
    outline: none;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(250, 250, 250) !important;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
    outline: none;
}

.fix-padding {
	padding-left: 0 !important;
}
