@import url('https://fonts.googleapis.com/css?family=Quicksand|Open+Sans');

h3, button, form, th, .add-font {
  font-family: 'Quicksand';
}

.add-item-to-orders {
  margin: 30px 0;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.col-md-5,.col-md-6, .col-md-1 {
  padding-left: 0;
  padding-right: 4px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.orders-table-header {
  background-color: #212121;
  color: white;
  font-size: 1.5em;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.orders-table-header > .col-md-8 {
  padding-top: 5px; 
}
.total-amt-btn, .order-btn {
  float: right;
  margin-left: 4px;
}

.row{
    margin: 0px;
}
.depletion_warning_container{
    height: 70px;
    background-color: #4FC3F7;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
    box-shadow: 0px 1px 0px 1px #BDBDBD;
    
    
}

.print_btn_container{
    height: 35px;
    width: 80px;
    background-color: #7E57C2;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    position:relative;
    float: right;
    color: white;
    box-shadow: 0px 2px 0px 1px #BDBDBD;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.table-orders {
  margin: 0 auto;
  overflow-y: scroll;
  height: 400px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.table-delete {
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  width: 99%;
  margin: 30px auto;
  overflow: scroll;
  height: 300px;
  
}

table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  
  vertical-align: middle;
}

table th {
  background-color: #E0E0E0;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #E0E0E0;
}

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }

  td:first-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: 'Name:';
  }
  td:nth-child(3):before {
    content: 'Email:';
  }
  td:nth-child(4):before {
    content: 'Phone:';
  }
  td:nth-child(5):before {
    content: 'Comments:';
  }

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  img {
    border: 3px solid;
    border-color: #daeff1;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }

  td:first-child {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: .8em;
    padding-top: 0.3em;
    position: relative;
  }
  

  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-orders {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}

.delete_icon {
    text-align: center;
    color: red;
    font-size: 30px;
    cursor: pointer;
    transition: all 500ms;
}

.add-item-btn, .total-btn, .order-btn {
  transition: all 500ms;
}

.add-item-btn:hover, .total-amt-btn:hover, .order-btn:hover, .delete_icon:hover {
  transform: scale(1.1);
}

.add-item-btn:active, .total-amt-btn:active, .order-btn:active, .delete_icon:active {
  transform: scale(0.9);
}


 
