@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  font-family: 'Quicksand' !important;
}

/*.charts-container {
	background: url("https://ak4.picdn.net/shutterstock/videos/31595674/thumb/1.jpg?i10c=img.resize(height:160)");
	background-repeat: no-repeat;
	background-size: cover;
}*/

.row-charts {
	padding: 2px 0;
	margin: 0;
}

.box-for-chart {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.month-div {
	padding: 20px;
	background: #fff;
	font-size: 30pt;
	color: #000;
	text-align: center;
	min-width: 50%;
	border-radius: 5px;
	font-weight: 500;
	float: right;
}

.chart-header {
	background-color: rgba(50, 50, 50, 0.95);
	color: #fff; 
	padding: 5px;
	vertical-align: middle;
}

.chart-header > h5 {
	margin: 5px;
	vertical-align: middle;
}
